:root {
    font-size: 15px;
    font-family: 'Roboto Mono', monospace;
    --text-primary: #202C39;
    --text-secundary: #283845;
    --text-third: rgb(231, 216, 183);
    --bg-primary: #B8B08D;
    --bg-secundary: #F2D492;
    --bg-third: #9e6f50;
    --elm-primary: #4C5657;
    --icon-primary: rgb(56, 56, 56);
    --button-primary: #914411;
    --transition-std: 200ms;
    --transition-half: 200ms;
}

body {
    color: black;
    background-color: rgb(255, 250, 239);
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar {
    width: 0.3rem;
}

body::-webkit-scrollbar-track {
    background: var(--bg-third);
}

body::-webkit-scrollbar-thumb {
    background: var(--elm-primary);
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background-color: var(--bg-primary);
    transition: width var(--transition-std) ease;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}


.nav-item {
    width: 100%;
    margin-bottom: 2rem;
}

.last-pos {
    margin-top: auto;
}


.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(70%) opacity(1);
    transition: 0ms;
}

.nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secundary);
    color: var(--text-secundary);
    transition: var(--transition-half);
}

.link-text {
    transition: 0s;
    opacity: 0;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.navbar:hover {
    width: 16rem;
}

.navbar:hover .link-text{
    opacity: 1;
    transition-delay: var(--transition-std);
}

.svg-inline--fa {
    color: var(--bg-third);
}


.logo {
    width: 100%;
    margin-bottom: 2rem;
}

.logo svg {
    transform: rotate(0deg);
    transition: transform var(--transition-std);
}

.navbar:hover .logo svg {
    transform: rotate(-360deg);
}

.branding {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
}
.branding svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: var(--bg-primary);
    filter: grayscale(60%) opacity(0.7);
    transition: 0ms;
}

.left:hover {
    filter: grayscale(20%) opacity(0.9);
    transition: var(--transition-std) ease;
    background-image: url(/img/hu.svg);
}

.right {
    right: 0;
    background-color:var(--bg-third);
    filter: grayscale(60%) opacity(0.7);
    transition: 0ms;
  }

  .right:hover {
    filter: grayscale(20%) opacity(0.9);
    transition: var(--transition-std) ease;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.formClass {
    border: 3px solid #f1f1f1;
    min-width: 24rem;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.primaryButton {
    background-color: var(--button-primary);
    color: var(--text-third);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0ms;
}

.primaryButton:hover {
    opacity: 0.8;
    transition: var(--transition-std);
}

.container {
    padding: 16px;
}

.entrarBackground {
    position: absolute ; /* or absolute */
    top: 40%;
    left: 35%;
    width: 30%;
    z-index: 0;
}

.upperLeft{
    padding: 5rem;
    color: var(--text-primary);
    font-size: 1.5rem;
}

.title {
    color: var(--text-primary);
    margin: 2rem;
}

.point {
    color: var(--text-secundary);
    margin: 3rem;
}

.personal {
    border-style: solid;
    display: flex;
    align-items: center;
}

.orders {
    border-style: solid;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
}

.productPic {
    width: 20rem;
    border-radius: 50%;
    border-style: solid;
    transition: transform var(--transition-std);
}

.productPic:hover {
    transform: rotate(-720deg);
}

.store {
    display: block;
    float: left;
    width: 25%;
    
    margin: 2rem;
    padding: 1rem;
}

.description {
    min-height: 6rem;
}

.watermark {
    right: 1%;
    position: fixed;
    top: 1rem;
    background-color: var(--bg-secundary);
    border-radius: 50%;
    padding: 0.7rem;
}

.cart {
    display: flex;
    margin: 2rem;
}

.cartPic {
    width: 5rem;
    border-radius: 50%;
    border-style: solid;
    margin-right: 2rem;
    transition: transform var(--transition-std);
}

.cartPic:hover {
    transform: rotate(-360deg);
}

.cartName{
    margin-right: 2rem;
    min-width: 30rem;
}

.cartPrice {
    background-color: var(--bg-primary);
    text-align: center;
    min-width: 8rem;
}

.cartTotal {
    background-color: var(--bg-third);
    border-style: solid;
    border-color: var(--text-primary);
    color: var(--bg-secundary);
}

.deleteButton {
    background-color: var(--button-primary);
    color: var(--text-third);
    padding: 1rem;
    margin-right: 2rem;
    margin-top: 1.1rem;
    margin-left: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    transition: 0ms;
}

.order {
    display: flex;
    flex-direction: row;
}

.profileOrder{
    display: flex;
    flex-direction: row;
}

.orderPic {
    margin: 2rem;
    width: 5rem;
    border-radius: 50%;
    border-style: solid;
    margin-right: 2rem;
    transition: transform var(--transition-std);
}

.order-element {
    margin: 2rem;
}

.itemPrice {
    margin-left: 1rem;
}

.order-frame {
    border-style: solid;
    margin: 1rem;
}

.portada {
    display: block;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-style: groove;
}

.centrado {
    text-align: center;
}